*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height:auto;
    width:auto
    
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 20px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 10px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 10px;
    color: wheat;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;

}
nav ul li button:hover
{
   color: blue;
}
nav ul li a:hover
{
    color: blue;
}
a
{
    text-decoration: none;
    color:wheat;
    font-size: 28px;
}
.content
{
    text-decoration: none;
    color:white
    

}
.card

{ 
    width: 200px; 
    height: 230px; 
    display:inline-block ; 
    border-radius: 10px;
    padding: 15px 25px; 
    box-sizing:border-box ; 
    cursor: pointer;
    margin:50px 75px ; 
    background-image: url ();
    background:blue;
    background-position:center;
    background-size:cover;
    transition: transform 0,5s;
} 
.card:hover
{
    transform: translatey(-10px)
}
.h5
{
    color:black;
    text-shadow: 0 0 5px black;
    text-align:center;

}